html {
  height: 100%;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
  color: #222;
  background-color: #fff;
  font-family: "Arial", sans-serif;
}

.container {
  max-width: 1400px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* SITE-HEADER */
.site-header__container {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.site-header__logo-link {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
  color: #222;
  text-decoration: none;
  margin-right: 20px;
}

.site-header__logo-img {
  margin-right: 5px;
}

.sitenav {
  margin-right: 20px;
}

.sitenav__list {
  display: flex;
  list-style: none;
  align-items: center;
  padding: 0;
  margin: 0;
}

.sitenav__item:not(:last-child) {
  margin-right: 20px;
}

.sitenav__link {
  color: #222;
  text-decoration: none;
  display: flex;
}
.sitenav__link:hover {
  text-decoration: underline;
}
.sitenav__link:active {
  opacity: 0.8;
}

.sitenav__item:last-child {
  background-color: #D8E4DA;
  color: #9CAB9F;
  text-decoration: none;
  padding: 5px;
  border-radius: 3px;
}

.form {
  margin-right: 15px;
  margin-left: auto;
}

.form__search-wrapper {
  position: relative;
  width: 100%;
  min-width: 150px;
}

.form__search {
  padding: 5px 15px;
  outline: none;
  width: 100%;
  background-color: transparent;
  border: 1px solid #222;
}

.form__search-icon {
  position: absolute;
  left: calc(100% - 25px);
  transform: translateY(50%);
  color: #222;
}

.site-header__user {
  color: #222;
  margin-right: 15px;
}

.site-header__cart {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #222;
  padding: 0;
}

.toggle {
  display: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 25px;
  margin-right: 20px;
}

.toggle--show {
  display: block;
}

.sitenav__close {
  display: none;
  background-color: transparent;
  border: none;
  margin-left: auto;
  cursor: pointer;
}

.sitenav__close-icon {
  font-size: 25px;
  color: #222;
}

/* /SITE-HEADER */
/* MODAL */
.modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  padding: 50px;
  display: none;
}

.modal--open {
  display: block;
}

.modal__content {
  background-color: #fff;
  padding: 50px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.modal__dialog {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__search-wrapper {
  position: relative;
  width: 100%;
  min-width: 300px;
}

.modal__search {
  padding: 10px 15px;
  outline: none;
  width: 100%;
  background-color: transparent;
  border: 1px solid #222;
}

.modal__search-icon {
  position: absolute;
  left: calc(100% - 25px);
  transform: translateY(50%);
  color: #222;
}

.modal__search-close {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-left: auto;
  margin-bottom: 20px;
}

/* /MODAL */
/* SITE-HADER RESPONSIVE */
@media only screen and (max-width: 1120px) {
  .toggle {
    display: block;
  }
  .sitenav__close {
    display: block;
  }
  .site-header {
    position: relative;
  }
  .sitenav {
    position: absolute;
    z-index: 999;
    left: 0;
    top: 0;
    margin-right: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    height: 100vh;
    display: none;
  }
  .sitenav--open {
    display: block;
  }
  .sitenav__list {
    flex-direction: column;
    background-color: #fff;
    padding: 50px;
    align-items: flex-start;
    width: 80%;
    height: 100vh;
  }
  .sitenav__item {
    width: 100%;
  }
  .sitenav__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .form__search-wrapper {
    min-width: 300px;
  }
}
@media only screen and (max-width: 730px) {
  .form__search-wrapper {
    min-width: 150px;
  }
}
@media only screen and (max-width: 560px) {
  .form {
    order: 1;
    margin-left: 0;
  }
  .site-header__user {
    margin-left: auto;
  }
  .form__search-wrapper {
    min-width: auto;
  }
  .form__search {
    display: none;
  }
  .form__search-icon {
    position: static;
    transform: translateY(0%);
    cursor: pointer;
  }
  .form__search-icon--default {
    position: absolute;
    transform: translateY(50%);
  }
  .site-header__logo-link {
    order: 2;
  }
  .site-header__user {
    order: 3;
  }
  .site-header__cart {
    order: 4;
  }
}
@media only screen and (max-width: 440px) {
  .modal__content {
    padding: 30px 20px;
  }
}
@media only screen and (max-width: 400px) {
  .site-header__logo-link {
    display: none;
  }
}
@media only screen and (max-width: 380px) {
  .modal__search-wrapper {
    min-width: 250px;
  }
}
@media only screen and (max-width: 320px) {
  .modal__search-wrapper {
    min-width: 200px;
  }
}/*# sourceMappingURL=main.css.map */